
01_Series 1 - Introduction/Series01.aux

01_Series 1 - Introduction/Series01.log

01_Series 1 - Introduction/Series01.out

01_Series 1 - Introduction/Series01.pdf

01_Series 1 - Introduction/Series01.toc
